# Session Configuration
SESSION_SECRET=safecloud_secret_ABC123xyz

# AWS Cognito Configuration
COGNITO_REGION=ap-south-1
COGNITO_DOMAIN=https://ap-south-1i8bdptllz.auth.ap-south-1.amazoncognito.com
COGNITO_USER_POOL_ID=ap-south-1_i8BDPtllz
COGNITO_CLIENT_ID=7hip6f6c2og8i64reeg8tpm7kk
COGNITO_CLIENT_SECRET=1tud6c9su3hhumldbev910n86131hjds6a5hq7gohb0r8ri3936g
COGNITO_REDIRECT_URI=http://localhost:8000/auth/callback

# AWS IAM Role Configuration
ASSUME_ROLE_ARN=arn:aws:iam::896406198976:role/SafeCloudReadOnlyWebIdentity
ASSUME_ROLE_SESSION_NAME=safecloud-session

# Application Configuration
LOG_LEVEL=INFO
PORT=8000
NODE_ENV=development
